<div class="row table-item" (click)="showDetailsModal()">

    <div class="col-1">
        <div *ngIf="!receiptItem?.endDate">
            <button type="button" class="status-btn btn btn-rounded btn-sm btn-success m-0 px-2 py-1 disabled mdbRippleRadius">
        <span>Aktiv</span>
      </button>
        </div>
        <div *ngIf="receiptItem?.endDate">
            <button type="button" class="status-btn btn btn-blue-grey btn-rounded btn-sm m-0 px-2 py-1" mdbRippleRadius disabled>
        <span>Inaktiv</span>
      </button>
        </div>
    </div>
    <div class="col">
        <i *ngIf="receiptItem.itemType?.id == 1" class="material-icons">credit_card</i>
        <i *ngIf="receiptItem.itemType?.id == 2" class="material-icons">import_contacts</i> {{itemTypeToDisplay}}
    </div>
    <div class="col">{{itemIDToDisplay}}</div>
    <div class="col">{{this.receiptItem.user?.name}}</div>
    <div class="col">{{this.receiptItem.startDate | date: 'shortDate'}}</div>
    <div class="col">{{this.receiptItem.endDate | date: 'shortDate'}}
        <button type="button" class="btn btn-rounded btn-sm m-0 px-2 py-1 btn-success pull-right" mdbRippleRadius (click)="openPDF()">
      <span>PDF</span>
    </button>
    </div>

</div>