<form #detailForm="ngForm" (ngSubmit)="showModal = false">
  <app-modal [(show)]="_showModal" [modalTitle]="'Detaljerad information'"
  [submitName]="'Stäng'" [hideClose]="true">

    <!-- Row card info -->
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10 wide-center">
        <mat-card [style.background]="'#E8EAF6'">
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Typ:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Dokument-ID:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Benämning:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{documentItem?.documentType?.name}}
            </div>
            <div class="col-12 col-md-4">
              {{documentItem?.documentNumber}}
            </div>
            <div class="col-12 col-md-4">
              {{documentItem?.name}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Avsändare:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Förvaringsplats:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Daterad:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{documentItem?.sender}}
            </div>
            <div class="col-12 col-md-4">
              {{documentItem?.location}}
            </div>
            <div class="col-12 col-md-4">
              {{utilitiesService.getDateString(documentItem?.documentDate)}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Registrerad:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Skapad:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Ändrad:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{utilitiesService.getDateString(documentItem?.registrationDate)}}
            </div>
            <div class="col-12 col-md-4">
              {{utilitiesService.getDateString(documentItem?.creationDate, 'YYYY-MM-DD HH:MM:SS')}}
            </div>
            <div class="col-12 col-md-4">
              {{utilitiesService.getDateString(documentItem?.modifiedDate, 'YYYY-MM-DD HH:MM:SS')}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Status:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Användare:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Senast inventerad:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{documentItem?.status?.name}}
            </div>
            <div class="col-12 col-md-4">
              {{utilitiesService.getUserString(documentItem?.user)}}
            </div>
            <div class="col-12 col-md-4">
              {{documentItem?.lastVerificationDate ?
                utilitiesService.getDateString(documentItem?.lastVerificationDate) : 'Aldrig'}}
            </div>
          </div>
          <!-- Row Space -->
          <div *ngIf="documentItem?.comment" class="row py-1"></div>
          <!-- Row -->
          <div *ngIf="documentItem?.comment" class="row my-1">
            <div class="col-12">
              <b>Kommentar:</b>
            </div>
          </div>
          <!-- Row -->
          <div *ngIf="documentItem?.comment" class="row my-1">
            <div class="col-12">
              {{documentItem?.comment}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
        </mat-card>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

  </app-modal>
</form>
