<h4>Details for document: <span>{{documentDetail.documentNumber}}</span> </h4>
<div>Document type : <span class="bold-text">{{documentDetail.documentType.name}}</span></div>
<div>Document id : <span class="bold-text">{{documentDetail.documentNumber}}</span></div>
<div>Document name : <span class="bold-text">{{documentDetail.name}}</span></div>
<div>User ID : <span class="bold-text">{{documentDetail.user.id}}</span></div>
<div>Location : <span class="bold-text">{{documentDetail.location}}</span></div>
<div>Comment : <span class="bold-text">{{documentDetail.comment}}</span></div>

<p>

<h4>History of document: <span>{{documentDetail.documentNumber}}</span> </h4>
