<form #detailForm="ngForm" (ngSubmit)="hideDetail()">
  <app-modal [(show)]="_showModal" [modalTitle]="'Detaljerad information'" [submitName]="'Stäng'" [hideClose]="true">

    <!-- Row card info -->
    <div class="row overflow-break">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10 wide-center">
        <mat-card [style.background]="'#E8EAF6'">
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Typ:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Dokument-ID:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Benämning:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{deliveryItem?.documentType?.name}}
            </div>
            <div class="col-12 col-md-4">
              {{deliveryItem?.documentNumber}}
            </div>
            <div class="col-12 col-md-4">
              {{deliveryItem?.name}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Mottagare:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Daterad:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Skickad:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{deliveryItem?.receiver}}
            </div>
            <div class="col-0 col-md-4">
              {{this.utilitiesService.getDateString(this.deliveryItem?.documentDate)}}
            </div>
            <div class="col-0 col-md-4">
              {{this.utilitiesService.getDateString(this.deliveryItem?.sentDate)}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Skapad:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Ändrad:</b>
            </div>
            <div class="col-12 col-md-4">
              <span *ngIf="deliveryItem?.comment">
                <b>Kommentar:</b>
              </span>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              {{this.utilitiesService.getDateString(this.deliveryItem?.creationDate, 'YYYY-MM-DD HH:mm:ss')}}
            </div>
            <div class="col-0 col-md-4">
              {{this.utilitiesService.getDateString(this.deliveryItem?.modifiedDate, 'YYYY-MM-DD HH:mm:ss')}}
            </div>
            <div class="col-12 col-md-4">
              <span *ngIf="deliveryItem?.comment">{{deliveryItem?.comment}}</span>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

  </app-modal>
</form>
