<div class="row">
    <div class="col-1" *ngIf="baseItem.getStatus() == 1 || baseItem.getStatus() == 2">
        <button type="button" class="btn btn-rounded btn-sm m-0 px-2 py-1" [class.btn-success]="true" mdbRippleRadius>
            <span>Inventera</span>
        </button>
    </div>
    <div class="col-1" *ngIf="baseItem.getStatus() == 3 || baseItem.getStatus() == 4">
        <button type="button" class="btn btn-blue-grey btn-rounded btn-sm m-0 px-2 py-1" mdbRippleRadius disabled>
            <span *ngIf="baseItem.getStatus() == 3">Arkiv</span>
            <span *ngIf="baseItem.getStatus() == 4">Borta</span>
        </button>
    </div>

    <div class="col">{{displayCardType()}}</div>
    <div class="col">
        <span class="detail-link" (click)="route()">{{baseItem?.getNumber()}}</span>
    </div>
    <div class="col">{{displayUserName()}}</div>
    <div class="col">{{baseItem?.getLocation()}}</div>
    <div class="col">{{baseItem?.getComment()}}</div>
    <div class="col">{{displayLastVerified()}}</div>
    <div class="col-1">
        <app-item-menu [item]="baseItem.item" (editItem)="edit()"></app-item-menu>
    </div>
</div>
