<h3>This is the details for the card with serial number: <span>{{getRoute()}}</span> </h3>

<!--<div class="row">
  <div class="col"></div>
  <div class="col">{{cardDetail.cardType}}</div>
  <div class="col">{{cardDetail.cardNumber}}</div>
  <div class="col">{{cardDetail.userID}}</div>
  <div class="col">{{cardDetail.location}}</div>
  <div class="col">{{cardDetail.comment}}</div>
  <div class="col">{{cardDetail.expirationDate}}</div>
</div>-->

<h3>This is the history of the card with serial number: <span>{{getRoute()}}</span> </h3>
