.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold-text {
  font-weight: bold;
}

// Hiding button around an object
.btn-wheel {
  background-color: transparent !important;
  color: black !important;
  border-color: transparent !important;
}

.btn-wheel:hover {
  cursor: pointer;
}

.mat-form-field {
  padding-top: 3% !important;
  padding-bottom: 3% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

