<h4>Details for card: <span>{{cardDetail.cardNumber}}</span> </h4>
<div>Card type : <span class="bold-text">{{cardDetail.cardType}}</span></div>
<div>Card number : <span class="bold-text">{{cardDetail.cardNumber}}</span></div>
<div>User ID : <span class="bold-text">{{cardDetail.userID}}</span></div>
<div>Location : <span class="bold-text">{{cardDetail.location}}</span></div>
<div>Comment : <span class="bold-text">{{cardDetail.comment}}</span></div>
<div>Expiration date : <span class="bold-text">{{cardDetail.expirationDate}}</span></div>

<p>

<h4>History of card: <span>{{cardDetail.cardNumber}}</span> </h4>
