<form #detailForm="ngForm" (ngSubmit)="showDetail()">
  <app-modal [(show)]="_showModal" [modalTitle]="'Detaljer'"
  [closeName]="'Stäng'" [submitName]="'Not a button'">

    <!-- Row card info -->
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-0 col-md-10 wide-center">
        <mat-card [style.background]="'#E8EAF6'">
          <!-- Row 1 -->
          <div class="row my-1">
            <div class="col-0 col-md-3"></div>
            <div class="col-0 col-md-6">
              <h5><b>Detaljerad information</b></h5>
            </div>
            <div class="col-0 col-md-3"></div>
          </div>
          <!-- Row 2 Divider -->
          <div class="row pt-1 pb-3">
            <div class="col-0 col-md-1"></div>
            <div class="col-0 col-md-10">
              <mat-divider></mat-divider>
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
          <!-- Row 3 -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              <b>Typ:</b>
            </div>
            <div class="col-0 col-md-4">
              <b>Kort-ID:</b>
            </div>
            <div class="col-0 col-md-4">
              <b>Förvaringsplats:</b>
            </div>
          </div>
          <!-- Row 4 -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              {{cardItem?.cardType?.name}}
            </div>
            <div class="col-0 col-md-4">
              {{cardItem?.cardNumber}}
            </div>
            <div class="col-0 col-md-4">
              {{cardItem?.location}}
            </div>
          </div>
          <!-- Row 5 Space -->
          <div class="row py-2"></div>
          <!-- Row 6 -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              <b>Skapat datum:</b>
            </div>
            <div class="col-0 col-md-4">
              <b>Utgångsdatum:</b>
            </div>
            <div class="col-0 col-md-4">
              <b>Ändrat datum:</b>
            </div>
          </div>
          <!-- Row 7 -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              {{displayCreationDate()}}
            </div>
            <div class="col-0 col-md-4">
              {{displayExpirationDate()}}
            </div>
            <div class="col-0 col-md-4">
              {{displayModifiedDate()}}
            </div>
          </div>
          <!-- Row 8 Space -->
          <div class="row py-2"></div>
          <!-- Row 9 -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              <b>Status:</b>
            </div>
            <div class="col-0 col-md-4">
              <b>Aktiva kvittenser:</b>
            </div>
            <div class="col-0 col-md-4">
                <b>Användare:</b>
            </div>
          </div>
          <!-- Row 10 -->
          <div class="row my-1">
            <div class="col-0 col-md-4">
              {{cardItem?.status}}
            </div>
            <div class="col-0 col-md-4">
              {{cardItem?.activeReceipt}}
            </div>
            <div class="col-0 col-md-4">
                {{cardItem?.user?.name}}
            </div>
          </div>
          <!-- Row 11 Space -->
          <div class="row py-2"></div>
          <!-- Row 12 -->
          <div class="row my-1">
            <div class="col-0 col-md-12">
              <b>Kommentar:</b>
            </div>
          </div>
          <!-- Row 13 -->
          <div class="row my-1">
            <div class="col-0 col-md-12">
              {{cardItem?.comment}}
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

  </app-modal>
</form>
