<form #modifyForm="ngForm" (ngSubmit)="modalType ? editCard() : addNewCard()">
  <app-modal [(show)]="_showModal" [modalTitle]="modalTitle" [closeName]="'Avbryt'" [submitName]="'Spara'">
    <!-- Row cardType & cardNumber -->
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input id="cardTypeInput" name="cardTypeInput" type="text" [(ngModel)]="cardTypeInput" maxlength="128" [style.color]="isValidCardType() ? 'black' : 'gray'"
            placeholder="Typ" aria-label="Number" matInput [matAutocomplete]="cardTypes" [formControl]="cardTypeControl"
            maxlength="10" appCardType required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidCardType()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="cardTypeInput" matSuffix mat-icon-button aria-label="Clear" (click)="cardTypeInput = ''">
            <mat-icon>close</mat-icon>
          </button>
          <!--Dropdown-->
          <mat-autocomplete #cardTypes="matAutocomplete">
            <mat-option *ngFor="let cardType of filteredCardTypes | async" [value]="cardType.name">
              {{ cardType.name }}
            </mat-option>
          </mat-autocomplete>
          <!--Error-->
          <mat-error *ngIf="cardTypeControl.hasError('required')">Ange en typ</mat-error>
          <mat-error *ngIf="!cardTypeControl.hasError('required') && cardTypeControl.hasError('cardType')">
            Ogiltig typ</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="cardNumberInput" name="cardNumberInput" [(ngModel)]="cardNumberInput" type="text" maxlength="128" placeholder="Serienummer"
            [formControl]="cardNumberControl" required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidCardNumber()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="cardNumberInput" matSuffix mat-icon-button aria-label="Clear" (click)="cardNumberInput = ''">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="cardNumberControl.hasError('required')">Ange ett serienummer</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Row 3 location & expirationDate -->
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="locationInput" name="locationInput" [(ngModel)]="locationInput" type="text" maxlength="128" placeholder="Plats"
            [formControl]="locationControl" required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidLocation()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="locationInput" matSuffix mat-icon-button aria-label="Clear" (click)="locationInput = ''">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="locationControl.hasError('required')">Ange en plats</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="expirationDateInput" name="expirationDateInput" type="text" [(ngModel)]="expirationDateInput" placeholder="Utgångsdatum"
            [style.color]="isValidExpirationDate() ? 'black' : 'gray'" maxlength="10" (input)="setExpirationDateToDatePicker();"
            [formControl]="expirationDateControl" appDate required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidExpirationDate()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="expirationDateInput" matSuffix mat-icon-button aria-label="Clear" (click)="expirationDateInput = ''">
            <mat-icon>close</mat-icon>
          </button>
          <!--DatePicker-->
          <mat-datepicker #picker></mat-datepicker>
          <!--Hidden input connected to the date picker-->
          <input id="expirationDateDatepickerInput" name="expirationDateDatepickerInput" [(ngModel)]="expirationDateDatepickerInput"
            [matDatepicker]="picker" (dateInput)="setExpirationDateFromDatepicker($event);" type="hidden">
          <mat-datepicker-toggle matSuffix class="size-big" [for]="picker"></mat-datepicker-toggle>
          <!--Errors-->
          <mat-error *ngIf="expirationDateControl.hasError('required')">
            Ange ett utgångsdatum
          </mat-error>
          <mat-error *ngIf="!expirationDateControl.hasError('required') && expirationDateControl.hasError('dateFormat')">
            Ogiltigt datumformat
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Row comment -->
    <div class="row">
      <div class="col-12 wide-center">
        <mat-form-field>
          <!--Input-->
          <input matInput id="commentInput" name="commentInput" [(ngModel)]="commentInput" type="text" maxlength="128" placeholder="Kommentar">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="commentInput" matSuffix mat-icon-button aria-label="Clear" (click)="commentInput = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </app-modal>
</form>
