<form #modifyForm="ngForm" (ngSubmit)="modalType ? editCard() : addNewCard()">
  <app-modal [(show)]="_showModal" [modalTitle]="modalTitle" [closeName]="'Avbryt'" [submitName]="'Spara'">
    <!-- Row cardType & cardNumber -->
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input id="cardTypeInput" name="cardTypeInput" [(ngModel)]="cardTypeInput" maxlength="32" [style.color]="isValidCardType() ? 'black' : 'gray'"
            placeholder="Typ" aria-label="Number" matInput [matAutocomplete]="cardTypes" [formControl]="cardTypeControl" [cardType]="cardItem ? cardItem.cardType : null"
            appCardType required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidCardType()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="cardTypeInput" matSuffix mat-icon-button aria-label="Clear" (click)="cardTypeInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Dropdown-->
          <mat-autocomplete #cardTypes="matAutocomplete">
            <mat-option *ngFor="let baseType of baseTypes | matchFilterType:cardTypeInput:true:false:true:false" [value]="baseType.type.name">
              {{ baseType.type.name }}
            </mat-option>
          </mat-autocomplete>
          <!--Error-->
          <mat-error *ngIf="cardTypeControl.hasError('required')">Ange en typ</mat-error>
          <mat-error *ngIf="!cardTypeControl.hasError('required') && cardTypeControl.hasError('cardType')">
            Ogiltig typ</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="cardNumberInput" name="cardNumberInput" [(ngModel)]="cardNumberInput" maxlength="32" placeholder="Kort-ID"
            [formControl]="cardNumberControl" [card]="cardItem" appNewCard required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidCardNumber()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="cardNumberInput" matSuffix mat-icon-button aria-label="Clear" (click)="cardNumberInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="cardNumberControl.hasError('required')">Ange ett kort-ID</mat-error>
          <mat-error *ngIf="!cardNumberControl.hasError('required') && cardNumberControl.hasError('newCard')">
            Kort med angivet kort-ID existerar redan</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Row 3 location & expirationDate -->
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput name="cardLocationInput" [(ngModel)]="locationInput" maxlength="32" placeholder="Förvaringsplats" [formControl]="locationControl"
            required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidLocation()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="locationInput" matSuffix mat-icon-button aria-label="Clear" (click)="locationInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="locationControl.hasError('required')">Ange en förvaringsplats</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="expirationDateInput" name="expirationDateInput" [(ngModel)]="expirationDateInput" placeholder="Utgångsdatum"
            [style.color]="isValidExpirationDate() ? 'black' : 'gray'" maxlength="10" (input)="setExpirationDateToDatePicker();"
            [formControl]="expirationDateControl" appDate required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidExpirationDate()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="expirationDateInput" matSuffix mat-icon-button aria-label="Clear" (click)="expirationDateInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <button type="button" mat-button class="size-medium" mat-icon-button matSuffix (click)="picker.open()" tabindex="-1">
            <mat-icon>date_range</mat-icon>
          </button>
          <!--DatePicker-->
          <mat-datepicker #picker></mat-datepicker>
          <!--Hidden input connected to the date picker-->
          <input id="expirationDateDatepickerInput" name="expirationDateDatepickerInput" [(ngModel)]="expirationDateDatepickerInput"
            [matDatepicker]="picker" (dateInput)="setExpirationDateFromDatepicker($event);" type="hidden">
          <!--Errors-->
          <mat-error *ngIf="expirationDateControl.hasError('required')">
            Ange ett utgångsdatum
          </mat-error>
          <mat-error *ngIf="!expirationDateControl.hasError('required') && expirationDateControl.hasError('dateFormat')">
            Ogiltigt datumformat
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Row comment -->
    <div class="row">
      <div class="col-12 wide-center">

        <mat-form-field>


          <textarea matInput name="cardCommentInput" [(ngModel)]="commentInput" maxlength="200" placeholder="Kommentar" matTextareaAutosize
            matAutosizeMaxRows="5">
          </textarea>

          <button mat-button class="size-medium textarea-button" *ngIf="commentInput" matSuffix mat-icon-button aria-label="Clear"
            (click)="commentInput = ''" tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </app-modal>
</form>
