<div class="row item-row">
  <div class="pr-4 verify-button-col" *ngIf="baseItem?.getStatus()?.id == 1 || baseItem?.getStatus()?.id == 2">
    <button type="button" class="btn btn-rounded btn-sm m-0 px-2 py-1"
    (click)="verifyInventory()"
    [class.btn-success]="true" mdbRippleRadius>
      <span>Verifiera</span>
    </button>
  </div>
  <div class="pr-4 verify-button-col" *ngIf="baseItem?.getStatus()?.id == 3 || baseItem?.getStatus()?.id == 4">
    <button type="button" class="btn btn-blue-grey btn-rounded btn-sm m-0 px-2 py-1" mdbRippleRadius disabled>
      <span>Verifiera</span>
    </button>
  </div>

  <div class="col-narrow table-col">{{baseItem?.getStatus()?.name}}</div>
  <div class="col-narrow table-col">
    <i *ngIf="this.baseItem?.getItemTypeString() == 'Kort'" class="material-icons">credit_card</i>
    <i *ngIf="this.baseItem?.getItemTypeString() == 'Handling'" class="material-icons">import_contacts</i>
    {{baseItem?.getSubType()?.name}}
  </div>
  <div class="col-narrow table-col">{{baseItem?.getNumber()}}</div>
  <div class="col-wide table-col">{{baseItem?.getUser()?.name}}</div>
  <div class="col-wide table-col">{{baseItem?.getLocation()}}</div>
  <div class="col-wide table-col">{{baseItem?.getComment()}}</div>
  <div class="col-narrow table-col">{{baseItem?.getLastVerifiedString()}}</div>

  <div class="pl-3 menu-button-col">
    <app-item-menu [item]="baseItem?.item"></app-item-menu>
  </div>

</div>
