.item-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-row:hover {
  background-color: rgba(208, 214, 212, 0.479);
}

.material-icons {
  font-size: 15px !important;
  margin-right: 8px !important;
}

.col-narrow {
  width: 10%;
}

.col-wide {
  width: 16%;
}
