<div class="row table-item" (click)="showDetailsModal()">
    <div class="col-1" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary" [(ngModel)]="isChecked"></mat-checkbox>
    </div>

    <div class="col">{{baseItem?.getStatus()?.name}}</div>
    <div class="col">
        <i *ngIf="this.baseItem?.getItemTypeString() == 'Kort'" class="material-icons">credit_card</i>
        <i *ngIf="this.baseItem?.getItemTypeString() == 'Handling'" class="material-icons">import_contacts</i> {{baseItem?.getSubType()?.name}}
    </div>
    <div class="col">{{baseItem?.getNumber()}}</div>
    <div class="col">{{getUser()}}</div>
    <div class="col">{{baseItem?.getLocation()}}</div>

    <div class="col">
        <div class="column-text">{{baseItem?.getComment()}}</div>
        <div class="pull-right table-menu-fix">
            <app-item-menu [object]="baseItem?.item" (editStatus)="editStatus()" [itemMenu]="true"></app-item-menu>
        </div>
    </div>
</div>