.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row:hover {
    background-color: rgba(208, 214, 212, 0.479);
    cursor: pointer;
}

.detail-link {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.col-narrow {
  width: 10%;
}

.col-wide {
  width: 13%;
}

.material-icons {
  font-size: 15px !important;
  margin-right: 8px !important;
}
