<div class="row">
    <div class="col-1 px-1 table-col" *ngIf="documentItem?.status?.id == 1 || documentItem?.status?.id == 2">
        <button type="button" class="btn btn-rounded btn-sm m-0 px-2 py-1" [class.btn-danger]="documentItem?.status?.id == 2" [class.btn-success]="documentItem?.status?.id == 1"
            (click)="showModal()" mdbRippleRadius>
            <span *ngIf="documentItem?.status?.id == 1">Kvittera ut</span>
            <span *ngIf="documentItem?.status?.id == 2">Kvittera in</span>
        </button>
    </div>
    <div class="col-1 px-1 table-col" *ngIf="documentItem?.status?.id == 3 || documentItem?.status?.id == 4">
        <button type="button" class="btn btn-blue-grey btn-rounded btn-sm m-0 px-2 py-1" mdbRippleRadius disabled>
            <span *ngIf="documentItem?.status?.id == 3">Arkiverad</span>
            <span *ngIf="documentItem?.status?.id == 4">Borttappad</span>
        </button>
    </div>

    <div class="col-1 px-1 table-col">{{documentItem?.documentType?.name}}</div>
    <div class="col-1 px-1 table-col">
      <span class="detail-link" (click)="route()">{{documentItem?.documentNumber}}</span>
    </div>
    <div class="col-2 px-1 table-col">{{documentItem.name}}</div>
    <div class="col-2 px-1 table-col">{{documentItem?.user?.name}}</div>
    <div class="col-2 px-1 table-col">{{documentItem?.location}}</div>
    <div class="col-2 px-1 table-col">{{documentItem?.comment}}</div>
    <div class="col-1 px-1 table-col">
        <app-item-menu [item]="documentItem" (editItem)="edit()" (editStatus)="editStatus()"></app-item-menu>
    </div>
</div>
