<div class="inventory-item">
  <div class="inventory-item-body">
    <!-- Input field for filter -->
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <!--Input-->
          <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" type="text" maxlength="128" placeholder="Filtrera på">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-3"></div>

      <div class="col-1">
        <div class="form-check">

          <div class="form-check">
            <input type="checkbox" class="filled-in form-check-input" id="showInID" [(ngModel)]=showIn>
            <label class="form-check-label" for="showInID">Inne</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="filled-in form-check-input" id="showOutID" [(ngModel)]=showOut>
            <label class="form-check-label" for="showOutID">Ute</label>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="form-check">

          <input type="checkbox" class="filled-in form-check-input" id="showArchivedID" [(ngModel)]=showArchived>
          <label class="form-check-label" for="showArchivedID">Arkiverade</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="filled-in form-check-input" id="showGoneID" [(ngModel)]=showGone>
          <label class="form-check-label" for="showGoneID">Borta</label>
        </div>

      </div>
    </div>

    <!-- Header row -->
    <div class="row">

      <div class="col-1" (click)="sortTableList('status')">
        <span class="hover" [class.up-arrow]="orderStatus == 'asc'" [class.down-arrow]="orderStatus == 'desc'" [class.both-arrow]="orderStatus == ''">Status</span>
      </div>

      <div class="col" (click)="sortTableList('itemType')">
          <span class="hover" [class.up-arrow]="orderItemType == 'asc'" [class.down-arrow]="orderItemType == 'desc'" [class.both-arrow]="orderItemType == ''">Typ</span>
      </div>

      <div class="col" (click)="sortTableList('subType')">
        <span class="hover" [class.up-arrow]="orderSubType == 'asc'" [class.down-arrow]="orderSubType == 'desc'" [class.both-arrow]="orderSubType == ''">Subtyp</span>
      </div>
      <div class="col" (click)="sortTableList('number')">
        <span class="hover" [class.up-arrow]="orderNumber == 'asc'" [class.down-arrow]="orderNumber == 'desc'" [class.both-arrow]="orderNumber == ''">ID</span>
      </div>
      <div class="col" (click)="sortTableList('user')">
        <span class="hover" [class.up-arrow]="orderUser == 'asc'" [class.down-arrow]="orderUser == 'desc'" [class.both-arrow]="orderUser == ''">User</span>
      </div>
      <div class="col" (click)="sortTableList('location')">
        <span class="hover" [class.up-arrow]="orderLocation == 'asc'" [class.down-arrow]="orderLocation == 'desc'" [class.both-arrow]="orderLocation == ''">Förvaringsplats</span>
      </div>
      <div class="col" (click)="sortTableList('comment')">
        <span class="hover" [class.up-arrow]="orderComment == 'asc'" [class.down-arrow]="orderComment == 'desc'" [class.both-arrow]="orderComment == ''">Kommentar</span>
      </div>

      <div class="col" (click)="sortTableList('verifyDate')">
        <span class="hover" [class.up-arrow]="orderVerifyDate == 'asc'" [class.down-arrow]="orderVerifyDate == 'desc'" [class.both-arrow]="orderVerifyDate == ''">Inventerad</span>
      </div>

      <div class="col-1"></div>
    </div>
    <hr>
    <div *ngFor="let item of baseItemList">
        <inventory-item *ngIf="passesFilter(item)" [baseItem]="item"> </inventory-item>
    </div>

  </div>
</div>
