<div class="card">
  <div class="custom-table">

    <!-- Row text filter input -->
    <div class="row">

      <!-- Input field for text filter -->
      <div class="col-4 px-0 text-filter-input">
        <mat-form-field>
          <!--Input-->
          <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" maxlength="128" placeholder="Filtrera på"
          (change)="updateItemSelection()">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- PDF buttons -->
      <div class="col text-right">
        <div class="mt-3">
          <button class="table-button" mat-raised-button color="primary" (click)="openPdfGenerationModal()">
            <span>Generera PDF</span>
          </button>
          <button class="table-button" mat-raised-button color="primary" (click)="sendVerify()">Verifiera</button>
        </div>
      </div>

    </div>

    <!-- Row filter per status -->
    <div class="pb-1 filter-checkbox-row">

      <div class="mr-2">
        <mat-checkbox disableRipple id="showIn" name="showIn" color="primary" class="pr-1"
        (change)="updateItemSelection()" [(ngModel)]="showIn">Tillgängliga</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox disableRipple id="showOut" name="showOut" color="primary" class="pr-1"
        (change)="updateItemSelection()" [(ngModel)]="showOut">Utkvitterade</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox disableRipple id="showArchived" name="showArchived" color="primary"
        (change)="updateItemSelection()" class="pr-1" [(ngModel)]="showArchived">Arkiverade</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox disableRipple id="showGone" name="showGone" color="primary" class="pr-1"
        (change)="updateItemSelection()" [(ngModel)]="showGone">Borttappade</mat-checkbox>
      </div>

    </div>


    <div class="table-container">
      <!-- Header row -->
      <div class="row table-header">

        <div class="col-1" (click)="$event.stopPropagation()">
          <mat-checkbox disableRipple color="primary" [(ngModel)]="selectAll" (change)="updateItemSelection()"></mat-checkbox>
        </div>

        <div class="col" (click)="sortTableList('status')">
          <span class="hover" [class.up-arrow]="orderStatus == 'asc'" [class.down-arrow]="orderStatus == 'desc'" [class.both-arrow]="orderStatus == ''">Status </span>
        </div>

        <div class="col" (click)="sortTableList('subType')">
          <span class="hover" [class.up-arrow]="orderSubType == 'asc'" [class.down-arrow]="orderSubType == 'desc'" [class.both-arrow]="orderSubType == ''">Typ </span>
        </div>

        <div class="col" (click)="sortTableList('number')">
          <span class="hover" [class.up-arrow]="orderNumber == 'asc'" [class.down-arrow]="orderNumber == 'desc'" [class.both-arrow]="orderNumber == ''">ID </span>
        </div>

        <div class="col" (click)="sortTableList('user')">
          <span class="hover" [class.up-arrow]="orderUser == 'asc'" [class.down-arrow]="orderUser == 'desc'" [class.both-arrow]="orderUser == ''">Användare </span>
        </div>

        <div class="col" (click)="sortTableList('location')">
          <span class="hover" [class.up-arrow]="orderLocation == 'asc'" [class.down-arrow]="orderLocation == 'desc'" [class.both-arrow]="orderLocation == ''">Förvaring </span>
        </div>

        <div class="col" (click)="sortTableList('comment')">
          <span class="hover" [class.up-arrow]="orderComment == 'asc'" [class.down-arrow]="orderComment == 'desc'" [class.both-arrow]="orderComment == ''">Kommentar </span>
        </div>

      </div>
      <hr>
      <div class="table-items scrollbar-table">
        <div *ngFor="let item of baseItemList | matchFilterInventory:filterInput:showIn:showOut:showArchived:showGone">
          <inventory-item [baseItem]="item"> </inventory-item>
        </div>
      </div>
    </div>
  </div>
</div>

<app-inventory-detail></app-inventory-detail>

<app-pdf-generation-modal [(showModal)]="showPdfGenerationModal" [modalTitle]="'Generera PDF från inventeringstabell'"
[pdfType]="'inventory'"></app-pdf-generation-modal>
