// Adding sorting icons and hover pointer to objects
.hover {
    cursor: pointer;
    &.up-arrow::after {
        content: "\f0de";
        font-family: FontAwesome;
        font-size: 12px;
    }
    &.down-arrow::after {
        content: "\f0dd";
        font-family: FontAwesome;
        font-size: 12px;
    }
    &.both-arrow::after {
        content: "\f0dc";
        font-family: FontAwesome;
        font-size: 12px;
    }
}

.menu-button-col {
    z-index: -1;
}

.verify-button-col {
    z-index: -1;
}

.col-narrow {
    width: 10%;
}

.col-wide {
    width: 16%;
}

.pdf-button{
  position: absolute;
  right: 45px !important;
}
