<form #detailForm="ngForm" (ngSubmit)="showModal = false">
  <app-modal [(show)]="_showModal" [modalTitle]="'Detaljerad information'"
  [submitName]="'Stäng'" [hideClose]="true">

    <!-- Row card info -->
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10 wide-center">
        <mat-card [style.background]="'#E8EAF6'">

          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Benämning:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Skapad:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Senast ändrad:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <i *ngIf="isCardType" class="material-icons">credit_card</i>
              <i *ngIf="!isCardType" class="material-icons">import_contacts</i>
              {{typeNameString}}
            </div>
            <div class="col-12 col-md-4">
              {{createdDateString}}
            </div>
            <div class="col-12 col-md-4">
              {{modifiedDateString}}
            </div>
          </div>

          <!-- Row Space -->
          <div class="row py-1"></div>

          <!-- Row -->
          <div class="row my-1">
            <div class="col-12">
              <b>Status:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12">
              {{statusString}}
            </div>
          </div>

          <!-- Row Space -->
          <div class="row py-1"></div>
        </mat-card>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

  </app-modal>
</form>
