<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-rounded btn-sm m-0 px-2 py-1" [class.btn-danger]="!activeReceipt()" [class.btn-success]="activeReceipt()"
            mdbRippleRadius disabled>
            <span *ngIf="activeReceipt()">Aktiv</span>
            <span *ngIf="!activeReceipt()">Inaktiv</span>
        </button>
    </div>

  <div class="col">{{receiptItem.itemTypeID}}</div>
  <div class="col">{{receiptItem.cardID}}</div>
  <div class="col">{{receiptItem.userID}}</div>
  <div class="col">{{receiptItem.startDate}}</div>
  <div class="col">{{receiptItem.endDate}}</div>
  <div class="col-1">
      <app-item-menu [item]="receiptItem"></app-item-menu>
  </div>
</div>