.row {
    width: 100% !important;
}

.material-icons {
    font-size: 15px !important;
    margin-right: 8px !important;
}

.status-btn {
  min-width: 60px;
}

.receipt-item-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .receipt-item-row:hover {
    background-color: rgba(208, 214, 212, 0.479);
    cursor: pointer;
  }