<form #testForm="ngForm" (ngSubmit)="postValueToHttp()">
  <div class="md-form">
    <input mdbActive type="text" id="testID" class="form-control"
    [(ngModel)]="test.id" name="testID" #testID="ngModel">
    <label for="testID" class="">ID input</label>
  </div>

  <div class="md-form">
    <input mdbActive type="text" id="testString" class="form-control"
    [(ngModel)]="test.testString" name="testString" #testString="ngModel">
    <label for="testString" class="">testString input</label>
  </div>

  <button type="submit" class="btn btn-blue-grey">Send</button>
</form>
