.custom-table {
  display: flex;
  flex-direction: column;
  height: 96vh;
  padding: 1.25rem;

  .filter-checkbox-row {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
  }

  .table-container {
    height: 91%;
    margin-bottom: -30px;
    .table-header {
      font-weight: bold !important;
      white-space: nowrap !important;
      width: 100%;
    }
    .table-items {
      overflow-y: overlay;
      overflow-x: hidden;
      width: 100%;
      height: inherit;
      .table-item {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        .table-menu-fix {
          height: 24px;
        }
      }

      .table-item:hover {
        background-color: rgba(208, 214, 212, 0.479);
        cursor: pointer;
      }

    }
  }
}
