<h4>History of card:
  <span>{{cardDetail.cardNumber}}</span>
</h4>
<div class="card">
  <div class="card-body">
    <!-- Row text filter input and add new button -->
    <div class="row">

      <!-- Input field for text filter -->
      <div class="col-4">
        <mat-form-field>
          <!--Input-->
          <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" maxlength="128" placeholder="Filtrera på">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput = ''">
            <mat-icon>close</mat-icon></button>
        </mat-form-field>
      </div>

      <!-- Space -->
      <div class="col-6"></div>

    </div>

    <!-- Row filter per status -->
    <div class="row pb-4 pl-2">

      <div class="col-1 px-1">
        <mat-checkbox id="showReceipts" name="showReceipts" color="primary" class="px-1" [(ngModel)]="showReceipts">Kvittenser</mat-checkbox>
      </div>

      <div class="col-1 px-1">
        <mat-checkbox id="showChanges" name="showChanges" color="primary" class="px-1" [(ngModel)]="showChanges">Infoändringar</mat-checkbox>
      </div>

      <div class="col-8"></div>

    </div>


  <!-- Header row -->
  <div class="row">
    <div class="col-1">
      <span class="hover">Datum & tid </span>
    </div>
    <div class="col">
      <span class="hover">Typ </span>
    </div>
    <div class="col">
      <span class="hover">Händelse </span>
    </div>
     <div class="col">
      <span class="hover">Utförd av </span>
    </div>
  </div>
  <hr>

  <!-- Add logevents to the table   -->
  <div *ngFor="let logEvent of logEventList">
      <app-cardhistory-item [logEventItem]="logEvent"> </app-cardhistory-item>
  </div>
</div>
</div>
