<h4>History of card: <span>{{cardDetail.cardNumber}}</span> </h4>
<div class="card">
  <div class="card-body">
    <!-- Input field for filter -->
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-3"></div>

      <div class="col-1">
          <div class="form-check">

              <div class="form-check">
                <input type="checkbox" class="filled-in form-check-input" id="showReceiptsID" [(ngModel)]=showReceipts>
                <label class="form-check-label" for="showReceiptsID">Kvittenser</label>
              </div>

          </div>
        </div>

      <div class="col-2">
        <div class="form-check">
            <input type="checkbox" class="filled-in form-check-input" id="showChangesID" [(ngModel)]=showChanges>
            <label class="form-check-label" for="showChangesID">Infoändringar</label>
        </div>

      </div>


    </div>

    <!-- Header row -->
    <div class="row">
      <div class="col-1" >
        <span class="hover">Datum & tid </span>
      </div>
      <div class="col">
        <span class="hover">Händelse </span>
      </div>
      <div class="col">
        <span class="hover">Utförd av </span>
      </div>
    </div>
    <hr>

    <!-- Add receipts to the table   -->
    <div *ngFor="let receipt of receiptList">
        <app-receipt-item [receiptItem]="receipt"> </app-receipt-item>
    </div>
  </div>
</div>

