<div class="card">
  <div class="card-body">
      <!-- Input field for filter -->
      <div class="row">
        <div class="col-4">
            <mat-form-field>
                <!--Input-->
                <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" type="text"
                maxlength="128" placeholder="Filter by">
                <!--Clear-->
                <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear"
                (click)="filterInput = ''"><mat-icon>close</mat-icon></button>
            </mat-form-field>
        </div>
        <div class="col-3"></div>

        <div class="col-1">
          <div class="form-check">

              <div class="form-check">
                <input type="checkbox" class="filled-in form-check-input" id="showInID" [(ngModel)]=showActive>
                <label class="form-check-label" for="showInID">Inne</label>
              </div>
          </div>
        </div>

      <div class="col-2">
        <div class="form-check">

            <input type="checkbox" class="filled-in form-check-input" id="showArchivedID" [(ngModel)]=showArchived>
            <label class="form-check-label" for="showArchivedID">Arkiverade</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="filled-in form-check-input" id="showGoneID" [(ngModel)]=showGone>
            <label class="form-check-label" for="showGoneID">Borta</label>
        </div>

      </div>

        <!-- Add new document button-->
        <div class="col-2">
          <button mat-raised-button (click)="openAddNewDocument()" color="primary">Add New Document</button>
        </div>
      </div>
      <!-- Header row -->
      <div class="row">
        <div class="col-1" (click)="sortTableList('status')">
          <span class="hover" [class.up-arrow]="orderStatus == 'asc'" [class.down-arrow]="orderStatus == 'desc'"
          [class.both-arrow]="orderStatus == ''">Status </span>
        </div>
        <div class="col" (click)="sortTableList('documentType')">
          <span class="hover" [class.up-arrow]="orderDocumentType == 'asc'" [class.down-arrow]="orderDocumentType == 'desc'"
          [class.both-arrow]="orderDocumentType == ''">Typ </span>
        </div>
        <div class="col" (click)="sortTableList('documentNumber')">
          <span class="hover" [class.up-arrow]="orderDocumentNumber == 'asc'" [class.down-arrow]="orderDocumentNumber == 'desc'"
          [class.both-arrow]="orderDocumentNumber == ''">Nummer </span>
        </div>
        <div class="col" (click)="sortTableList('name')">
          <span class="hover" [class.up-arrow]="orderName == 'asc'" [class.down-arrow]="orderName == 'desc'"
          [class.both-arrow]="orderName == ''">Namn </span>
        </div>
        <div class="col" (click)="sortTableList('receiver')">
          <span class="hover" [class.up-arrow]="orderReceiver == 'asc'" [class.down-arrow]="orderReceiver == 'desc'"
          [class.both-arrow]="orderReceiver == ''">Mottagare </span>
        </div>
        <div class="col" (click)="sortTableList('sentDate')">
          <span class="hover" [class.up-arrow]="orderReceiver == 'asc'" [class.down-arrow]="orderSentDate == 'desc'"
          [class.both-arrow]="orderSentDate == ''">Skickat </span>
        </div>
        <div class="col" (click)="sortTableList('comment')">
          <span class="hover" [class.up-arrow]="orderComment == 'asc'" [class.down-arrow]="orderComment == 'desc'"
          [class.both-arrow]="orderComment == ''">Kommentar </span>
        </div>
        <div class="col-1"></div>
      </div>
      <hr>

      <!-- Add cards to the table -->
      <div *ngFor="let delivery of deliveryList | matchFilterDelivery:filterInput:showActive:showArchived:showGone">
          <app-delivery-item [deliveryItem]="delivery" (editItem)="openEdit($event)"></app-delivery-item>
      </div>
  </div>
</div>

<app-modify-document [documentList]="deliveryList" [document]="editDocument" [modalTitle]="modalTitle" [modalType]="modalType" [(showModal)]="showModal"></app-modify-document>
