<form #addNewCardForm="ngForm" (ngSubmit)="addNewCard()">

  <!-- Row cardType & cardNumber -->
  <div class="row">
    <div class="col-12 wide-center">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span class="title-center">Add New Card</span>
        </mat-toolbar-row></mat-toolbar>
    </div>
  </div>
  <!-- Row cardType & cardNumber -->
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-form-field>
        <!--Input-->
        <input id="cardTypeInput" name="cardTypeInput" type="text" [(ngModel)]="cardTypeInput"
        [style.color]="getCardTypeInputFontColor()" placeholder="Card type" aria-label="Number"
        matInput [matAutocomplete]="cardTypes" [formControl]="cardTypeControl"
        (input)="setCardType($event)" appCardType required>
        <!--Check and clear-->
        <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
          <mat-icon [style.color]="'green'" *ngIf="newCard.cardType != null">done</mat-icon>
        </button>
        <button mat-button class="size-medium" *ngIf="cardTypeInput" matSuffix mat-icon-button aria-label="Clear"
        (click)="cardTypeInput = null; newCard.cardType = null"><mat-icon>close</mat-icon></button>
        <!--Dropdown-->
        <mat-autocomplete #cardTypes="matAutocomplete" (optionSelected)="setCardType($event)">
          <mat-option *ngFor="let cardType of filteredCardTypes | async" [value]="cardType">
            {{ cardType }}
          </mat-option>
        </mat-autocomplete>
        <!--Error-->
        <mat-error *ngIf="cardTypeControl.hasError('required')">Please select a card type</mat-error>
        <mat-error *ngIf="cardTypeControl.hasError('cardType')">
          Please select a valid card type</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field>
        <!--Input-->
        <input matInput id="cardNumberInput" name="cardNumberInput" [(ngModel)]="cardNumberInput" type="text"
        placeholder="Serial number" [formControl]="cardNumberControl" (input)="setCardNumber($event)" required>
        <!--Check and clear-->
        <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
          <mat-icon [style.color]="'green'" *ngIf="newCard.cardNumber != null">done</mat-icon>
        </button>
        <button mat-button class="size-medium" *ngIf="cardNumberInput" matSuffix mat-icon-button aria-label="Clear"
        (click)="cardNumberInput = ''; newCard.cardNumber = null"><mat-icon>close</mat-icon></button>
        <!--Error-->
        <mat-error *ngIf="cardNumberControl.hasError('required')">Please enter a card number</mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Row 3 location & expirationDate -->
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-form-field>
        <!--Input-->
        <input matInput id="locationInput" name="locationInput" [(ngModel)]="locationInput" type="text"
        placeholder="Location" [formControl]="locationControl" (input)="setLocation($event)" required>
        <!--Check and clear-->
        <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
          <mat-icon [style.color]="'green'" *ngIf="newCard.location != null">done</mat-icon>
        </button>
        <button mat-button class="size-medium" *ngIf="locationInput" matSuffix mat-icon-button aria-label="Clear"
        (click)="locationInput = ''; newCard.location = null"><mat-icon>close</mat-icon></button>
        <!--Error-->
        <mat-error *ngIf="locationControl.hasError('required')">Please enter a location</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field>
        <!--Input-->
        <input matInput id="expirationDateInput" name="expirationDateInput" type="text" [(ngModel)]="expirationDateInput"
        placeholder="Expiration date" [style.color]="getExpirationDateInputFontColor()"
        (input)="setExpirationDateFromInput();" [formControl]="expirationDateControl" appExpirationDate required>
        <!--Check and clear-->
        <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
          <mat-icon [style.color]="'green'" *ngIf="newCard.expirationDate != null">done</mat-icon>
        </button>
        <button mat-button class="size-medium" *ngIf="expirationDateInput" matSuffix mat-icon-button aria-label="Clear"
        (click)="expirationDateInput = ''; newCard.expirationDate = null"><mat-icon>close</mat-icon></button>
        <!--DatePicker-->
        <mat-datepicker #picker></mat-datepicker>
        <!--Hidden input connected to the date picker-->
        <input id="expirationDateDatepickerInput" name="expirationDateDatepickerInput" [(ngModel)]="expirationDateDatepickerInput"
        [matDatepicker]="picker" (dateInput)="setExpirationDateFromDatepicker($event);" type="hidden">
        <mat-datepicker-toggle matSuffix class="size-big" [for]="picker"></mat-datepicker-toggle>
        <!--Errors-->
        <mat-error *ngIf="expirationDateControl.hasError('required')">
          Please select a date
        </mat-error>
        <mat-error *ngIf="!expirationDateControl.hasError('required') && expirationDateControl.hasError('expirationDate')">
          Invalid date format
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Row comment -->
  <div class="row">
    <div class="col-12 comment-input">
        <mat-form-field>
          <!--Input-->
          <input matInput id="commentInput" name="commentInput" [(ngModel)]="commentInput" type="text"
          placeholder="Comment" (input)="setComment($event)">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="commentInput" matSuffix mat-icon-button aria-label="Clear"
          (click)="commentInput = ''; newCard.comment = null"><mat-icon>close</mat-icon></button>
        </mat-form-field>
    </div>
  </div>

  <!--Add Cardholder Checkbox-->
  <div class="row">
    <div class="col-12 wide-center">
      <label class="p-2">Add cardholder:</label>
      <mat-radio-group>
        <mat-radio-button class="p-2" color="primary" [checked]="true" value="no"
        (change)="addCardHolder = !addCardHolder;newCard.userID=null;usernameControl.reset();">No</mat-radio-button>
        <mat-radio-button class="p-2" color="primary" value="yes"
        (change)="addCardHolder = !addCardHolder">Yes</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <!--Row username-->
  <div class="row">
      <div class="col-0 col-md-3"></div>
      <div class="col-12 col-md-6 wide-center">
        <span class="third-center" *ngIf="addCardHolder">
          <mat-form-field>
            <!--Input-->
            <input id="usernameInput" name="usernameInput" [(ngModel)]="usernameInput" type="text"
            [style.color]="getUsernameInputFontColor()" placeholder="Username" aria-label="Number"
            matInput [matAutocomplete]="userIDs" [formControl]="usernameControl"
            (input)="setUsername($event)" appUsername required>
            <!--Check and clear-->
            <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
              <mat-icon [style.color]="'green'" *ngIf="newCard.userID != null">done</mat-icon>
            </button>
            <button mat-button class="size-medium" *ngIf="usernameInput" matSuffix mat-icon-button aria-label="Clear"
            (click)="usernameInput = ''; newCard.userID = null"><mat-icon>close</mat-icon></button>
            <!--Dropdown-->
            <mat-autocomplete #userIDs="matAutocomplete" (optionSelected)="setUsername($event)">
              <mat-option *ngFor="let user of filteredUsernames | async" [value]="user">
                {{ user }}
              </mat-option>
            </mat-autocomplete>
            <!--Error-->
            <mat-error *ngIf="usernameControl.hasError('required')">
              Please select a user ID
            </mat-error>
            <mat-error *ngIf="usernameControl.hasError('username')">
                Please select a valid user ID
            </mat-error>
          </mat-form-field>
        </span>
      </div>
      <div class="col-0 col-md-3"></div>
    </div>

  <!-- Row submit & discard buttons -->
  <div class="row">
    <div class="col-12 wide-center">
      <button mat-raised-button id="discardBtn" type="button" (onClick)="closeDialog()" class="m-3" color="warn">Discard</button>
      <button mat-raised-button id="submitBtn" type="submit" class="m-3" color="primary">Submit</button>
    </div>
  </div>

</form>

