.mat-form-field {
  padding-top: 3% !important;
  padding-bottom: 3% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.comment-input {
  width: 100% !important;
  text-align: center !important;
}

.wide-center {
  width: 100% !important;
  text-align: center !important;
}

.title-center {
  flex: 1 1 auto !important;
  text-align: center !important;
}

.size-medium {
  font-size: 27px !important;
  height: 27px !important;
  width: 27px !important;
}

.size-big {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}
