<div class="row">
  <div class="col-1" *ngIf="deliveryItem.status == 1 || deliveryItem.status == 2">
    <button type="button" class="btn btn-rounded btn-sm m-0 px-2 py-1" [class.btn-danger]="deliveryItem.status == 2" [class.btn-success]="deliveryItem.status == 1"
        mdbRippleRadius disabled>
        <span *ngIf="deliveryItem.status == 1">Aktiv</span>
        <span *ngIf="deliveryItem.status == 2">Inaktiv</span>
    </button>
</div>
<div class="col-1" *ngIf="deliveryItem.status == 3 || deliveryItem.status == 4">
    <button type="button" class="btn btn-blue-grey btn-rounded btn-sm m-0 px-2 py-1" mdbRippleRadius disabled>
        <span *ngIf="deliveryItem.status == 3">Arkiv</span>
        <span *ngIf="deliveryItem.status == 4">Borta</span>
    </button>
</div>

  <div class="col">{{displayDocumentType()}}</div>
  <div class="col">{{deliveryItem.documentNumber}}</div>
  <div class="col">{{deliveryItem.name}}</div>
  <div class="col">{{deliveryItem.receiver}}</div>
  <div class="col">{{displayExpirationDate()}}</div>
  <div class="col">{{deliveryItem.comment}}</div>
  <div class="col-1">
      <app-item-menu [item]="deliveryItem" (editItem)="edit()"></app-item-menu>
  </div>
</div>

<form #requestDocumentForm="ngForm" (ngSubmit)="setDeliveryStatus(2)">
  <app-modal [(show)]="showRequestModal" [modalTitle]="'Request document'" [submitName]="'Request'">
      Are you sure you want to request the following document?
      <br>
      <br>
      <ul>
          <li>Document type: {{displayDocumentType()}}</li>
          <li>Document number: {{deliveryItem?.documentNumber}}</li>
      </ul>
  </app-modal>
</form>

<form #returnDocumentForm="ngForm" (ngSubmit)="setDeliveryStatus(1)">
  <app-modal [(show)]="showReturnModal" [modalTitle]="'Return document'" [submitName]="'Return'">
      Are you sure you want to return the following document?
      <br>
      <br>
      <ul>
          <li>Document type: {{displayDocumentType()}}</li>
          <li>Document number: {{deliveryItem?.documentNumber}}</li>
      </ul>
  </app-modal>
</form>
