.menu-container {
  min-width: 250px;
  width: 250px;
  height: 100vh;

  .fixed-container {
    position: fixed;
    min-width: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: column;

    .nav-title {
      border-bottom: 1px solid white;
      width: 100%;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 8px 0 0 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &.sub-menu {
        li {
          font-size: 14px !important;
          margin-left: 14px !important;
          line-height: 10px !important;
          width: calc(100% - 28px) !important;
        }
      }

      li {
        width: 100%;
        a {
          &.collapsable::after {
            content: '\f078';
            font-family: FontAwesome;
            font-size: 12px;
            float: right;
            line-height: 26px;
          }
          &.menu-showing::after {
            content: '\f077' !important;
          }
          padding-left: 5px;
        }
      }
      li:last-child {
        margin-top: auto;
      }
    }
  }

  .menu-divider {
    display: none;
    &.show-divider {
      display: block !important;
    }
  }

  .nav-text {
    pointer-events: none !important;
  }
}

// Hiding button around an object
.btn-menu {
  background-color: transparent !important;
  color: white !important;
  border-color: transparent !important;
  padding: 0;
   :hover {
      cursor: pointer;
  }
}
