@import '../../../styles/utilities/variables';

.login-container {
  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: #f7f4ed;

  .login-wrapper {
    margin: auto;
    position: relative;
    width: 400px;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    .fade {
      opacity: 0.2 !important;
    }
    .loading-spinner {
      position: absolute;
      top: 28px;
      left: calc(50% - 50px);
    }
    .img-logo {
      $logo-width: 200px;
      position: absolute;
      top: calc(-50px - #{$logo-width});
      left: calc(50% - (#{$logo-width} / 2));
      width: $logo-width;
    }
    .btn-login {
      min-width: 400px !important;
      margin: 14px 0px 0px 0px !important;
    }
  }
}

@media (max-height: 900px) {
  .login-container {
    .login-wrapper {
      .img-logo {
        $logo-width: 175px;
        position: absolute;
        top: calc(-50px - #{$logo-width});
        left: calc(50% - (#{$logo-width} / 2));
        width: $logo-width;
      }
    }
  }
}

@media (max-height: 768px) {
  .login-container {
    .login-wrapper {
      .img-logo {
        $logo-width: 150px;
        position: absolute;
        top: calc(-50px - #{$logo-width});
        left: calc(50% - (#{$logo-width} / 2));
        width: $logo-width;
      }
    }
  }
}
