<form #returnForm="ngForm" (ngSubmit)="returnCard()">
  <app-modal [(show)]="_showModal" [modalTitle]="'Kvittera in kort'" [closeName]="'Avbryt'" [submitName]="'Kvittera in'">

    <!-- Row card info -->
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10 wide-center">
        <mat-card [style.background]="'#E8EAF6'">
          <!-- Row 1 -->
          <div class="row my-1">
            <div class="col-0 col-md-3"></div>
            <div class="col-12 col-md-6">
              <h5>
                <b>Detaljerad information</b>
              </h5>
            </div>
            <div class="col-0 col-md-3"></div>
          </div>
          <!-- Row 2 Divider -->
          <div class="row pt-1 pb-3">
            <div class="col-0 col-md-1"></div>
            <div class="col-0 col-md-10">
              <mat-divider></mat-divider>
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
          <!-- Row 3 -->
          <div class="row my-1">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-5">
              <b>Typ:</b>
            </div>
            <div class="col-12 col-md-5">
              <b>Kort-ID:</b>
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
          <!-- Row 4 -->
          <div class="row my-1">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-5">
              {{cardItem?.cardType?.name}}
            </div>
            <div class="col-12 col-md-5">
              {{cardItem?.cardNumber}}
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
          <!-- Row 5 Space -->
          <div class="row py-2"></div>
          <!-- Row 6 -->
          <div class="row my-1">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-5">
              <b>Utgångsdatum:</b>
            </div>
            <div class="col-12 col-md-5">
              <b>Förvaringsplats:</b>
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
          <!-- Row 7 -->
          <div class="row my-1">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-5">
              {{utilitiesService.getDateString(cardItem?.expirationDate)}}
            </div>
            <div class="col-12 col-md-5">
              {{cardItem?.location}}
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
          <!-- Row 5 Space -->
          <div class="row py-2"></div>
          <!-- Row 6 -->
          <div class="row my-1">
            <div class="col-12">
              <b>Användare:</b>
            </div>
          </div>
          <!-- Row 7 -->
          <div class="row my-1">
            <div class="col-12">
              {{utilitiesService.getUserString(cardItem?.user)}}
            </div>
          </div>

        </mat-card>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

    <!-- Row Space -->
    <div class="row my-2"></div>

    <!-- Row new location and comment -->

    <!-- Location -->
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10">
        <mat-form-field>
          <!--Input-->
          <input matInput name="locationInput" [(ngModel)]="locationInput" maxlength="256" placeholder="Ny förvaringsplats" [formControl]="locationControl"
            required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidLocation()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="locationInput" matSuffix mat-icon-button aria-label="Clear" (click)="locationInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="locationControl.hasError('required')">Ange en förvaringsplats</mat-error>
        </mat-form-field>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

    <!-- Comment -->
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10">
        <mat-form-field>
          <!--Input-->
          <textarea matInput name="commentInput" [(ngModel)]="commentInput" maxlength="128" placeholder="Kommentar" matTextareaAutosize
            matAutosizeMaxRows="5"></textarea>
          <!--Clear-->
          <button mat-button class="size-medium textarea-button" *ngIf="commentInput" matSuffix mat-icon-button aria-label="Clear"
            (click)="commentInput = ''" tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>
  </app-modal>
</form>
