<form #returnForm="ngForm" (ngSubmit)="returnCard()">
  <app-modal [(show)]="_showModal" [modalTitle]="'Kvittera in kort'" [closeName]="'Avbryt'" [submitName]="'Kvittera in'">
    <!-- Row location -->
    <div class="row">
      <div class="col-0 col-md-3"></div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="locationInput" name="locationInput" [(ngModel)]="locationInput" type="text" maxlength="128" placeholder="Plats"
            [formControl]="locationControl" required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidLocation()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="locationInput" matSuffix mat-icon-button aria-label="Clear" (click)="locationInput = ''">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="locationControl.hasError('required')">Ange en plats</mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-modal>
</form>
