<div class="card">
  <div class="custom-table">
    <!-- Row text filter input and add new button -->
    <div class="row">

      <!-- Input field for text filter -->
      <div class="col-4 px-0 text-filter-input">
        <mat-form-field>
          <!--Input-->
          <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" maxlength="128" placeholder="Filtrera på">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </div>

    <!-- Row filter per type and status -->
    <div class="pb-1 filter-checkbox-row">

      <div class="mr-2">
        <mat-checkbox id="showCard" name="showCard" color="primary" class="pr-1" [(ngModel)]="showCard">Kort</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox id="showDocument" name="showDocument" color="primary" class="pr-1" [(ngModel)]="showDocument">Handlingar</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox id="showActive" name="showActive" color="primary" class="pr-1" [(ngModel)]="showActive">Aktiva</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox id="showInactive" name="showInactive" color="primary" class="pr-1" [(ngModel)]="showInactive">Inaktiva</mat-checkbox>
      </div>

    </div>
    <div class="table-container">
      <div class="row table-header">
        <div class="col-1" (click)="sortTableList('TODO')">
          <span class="hover" [class.up-arrow]="orderStatus == 'asc'" [class.down-arrow]="orderStatus == 'desc'" [class.both-arrow]="orderStatus == ''">Status </span>
        </div>
        <div class="col" (click)="sortTableList('TODO')">
          <span class="hover" [class.up-arrow]="orderItemType == 'asc'" [class.down-arrow]="orderItemType == 'desc'" [class.both-arrow]="orderItemType == ''">Typ </span>
        </div>
        <div class="col" (click)="sortTableList('TODO')">
          <span class="hover" [class.up-arrow]="orderIDNumber == 'asc'" [class.down-arrow]="orderIDNumber == 'desc'" [class.both-arrow]="orderIDNumber == ''">ID </span>
        </div>
        <div class="col" (click)="sortTableList('user.name')">
          <span class="hover" [class.up-arrow]="orderUser == 'asc'" [class.down-arrow]="orderUser == 'desc'" [class.both-arrow]="orderUser == ''">Användare </span>
        </div>
        <div class="col" (click)="sortTableList('startDate')">
          <span class="hover" [class.up-arrow]="orderStartDate == 'asc'" [class.down-arrow]="orderStartDate == 'desc'" [class.both-arrow]="orderStartDate == ''">Startdatum </span>
        </div>
        <div class="col" (click)="sortTableList('endDate')">
          <span class="hover" [class.up-arrow]="orderEndDate == 'asc'" [class.down-arrow]="orderEndDate == 'desc'" [class.both-arrow]="orderEndDate == ''">Slutdatum </span>
        </div>
      </div>
      <hr>
      <div class="table-items scrollbar-table">
        <!-- Add receipts to the table -->
        <div *ngFor="let receipt of receiptList | matchFilterReceipt:filterInput:showCard:showDocument:showActive:showInactive">
          <app-receipt-item [receiptItem]="receipt"> </app-receipt-item>
        </div>
      </div>

    </div>
  </div>
</div>

<app-receipt-detail></app-receipt-detail>
