<form #detailForm="ngForm" (ngSubmit)="showModal = false">
  <app-modal [(show)]="_showModal" [modalTitle]="'Detaljerad information'" [submitName]="'Stäng'" [hideClose]="true">

    <!-- Row mat-card -->
    <div class="row">
      <div class="col-12 col-md-1"></div>
      <div class="col-12 col-md-10 wide-center">
        <mat-card [style.background]="'#E8EAF6'">
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Sort:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Typ:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>ID:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{baseItem?.item?.id ? baseItem?.getItemTypeString() : ''}}
            </div>
            <div class="col-12 col-md-4">
              {{baseItem?.item?.id ? baseItem?.getSubType()?.name : ''}}
            </div>
            <div class="col-12 col-md-4">
              <span class="nav-span" (click)="routeHistory()">{{baseItem?.item?.id ? baseItem?.getNumber() : ''}}</span>
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              <b>Användare:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Förvaringsplats:</b>
            </div>
            <div class="col-12 col-md-4">
              <b>Senast verifierad:</b>
            </div>
          </div>
          <!-- Row -->
          <div class="row my-1">
            <div class="col-12 col-md-4">
              {{baseItem?.item?.id ? utilitiesService.getUserString(baseItem?.getItem()?.user) : ''}}
            </div>
            <div class="col-12 col-md-4">
              {{baseItem?.item?.id ? baseItem?.item.location : ''}}
            </div>
            <div class="col-12 col-md-4">
              {{baseItem?.item?.lastVerificationDate? (baseItem?.item?.lastVerificationDate | date: 'yyyy-MM-dd HH:mm:ss') : 'Aldrig'}}
            </div>
          </div>
          <!-- Row Space -->
          <div *ngIf="baseItem?.item?.comment" class="row py-1"></div>
          <!-- Row -->
          <div *ngIf="baseItem?.item?.comment" class="row my-1">
            <div class="col-12">
              <b>Kommentar:</b>
            </div>
          </div>
          <!-- Row -->
          <div *ngIf="baseItem?.item?.comment" class="row my-1">
            <div class="col-12">
              {{baseItem?.item?.comment}}
            </div>
          </div>
          <!-- Row Space -->
          <div class="row py-1"></div>
        </mat-card>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>

  </app-modal>
</form>
