<form #modifyForm="ngForm" (ngSubmit)="modalType ? editUser() : addNewUser()" autocomplete="new-password">

  <app-modal [(show)]="_showModal" [modalTitle]="modalTitle" [closeName]="'Avbryt'" [submitName]="'Spara'">

    <!-- Row name & email -->
    <div class="row">
      <!-- Name -->
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="nameInput" name="nameInput" [(ngModel)]="nameInput" maxlength="128" placeholder="Namn"
            [formControl]="nameControl" autocomplete="off" required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidName()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="nameInput" matSuffix mat-icon-button aria-label="Clear" (click)="nameInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="nameControl.hasError('required')">Ange ett namn</mat-error>
        </mat-form-field>
      </div>

      <!-- Email -->
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="emailInput" name="emailInput" [(ngModel)]="emailInput" maxlength="128" placeholder="E-postadress"
            [formControl]="emailControl" autocomplete="off" type="email" required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidEmail()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="emailInput" matSuffix mat-icon-button aria-label="Clear" (click)="emailInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="emailControl.hasError('required')">Ange en e-postadress</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Row username & admin choice -->
    <div class="row">
      <!-- Username -->
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="usernameInput" name="usernameInput" [(ngModel)]="usernameInput" maxlength="128" placeholder="Användarnamn"
            [formControl]="usernameControl" autocomplete="off" [user]="userToEdit" required appNewUsername>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidUsername()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="usernameInput" matSuffix mat-icon-button aria-label="Clear" (click)="usernameInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="usernameControl.hasError('required')">Ange ett användarnamn</mat-error>
          <mat-error *ngIf="!usernameControl.hasError('required') && usernameControl.hasError('newUsername')">
            Användare med angivet användarnamn existerar redan</mat-error>
        </mat-form-field>
      </div>

      <!-- Admin checkbox -->
      <div class="col-12 col-md-6 mt-4">
        <mat-checkbox id="isAdmin" name="isAdmin" color="primary" [(ngModel)]="isAdmin" disableRipple>Administratör</mat-checkbox>
      </div>

    </div>

    <!-- Row change password choice (Edit modal only) -->
    <div *ngIf="modalType === 1" class="row py-3">
      <div class="col-12 wide-center">
        <mat-checkbox id="changePassword" name="changePassword" color="primary" [(ngModel)]="changePassword"
        (change)="confirmPasswordControl.reset(); passwordControl.reset();" disableRipple>
          Byt lösenord</mat-checkbox>
      </div>
    </div>

    <!-- Row password fields -->
    <div *ngIf="modalType === 0 || changePassword" class="row py-1">

      <!-- Password -->
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="passwordInput" name="passwordInput" [(ngModel)]="passwordInput" maxlength="128" placeholder="Lösenord"
            type="password" [formControl]="passwordControl" (input)="updateConfirmPassword()" autocomplete="new-password" required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidPassword()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="passwordInput" matSuffix mat-icon-button aria-label="Clear" (click)="passwordInput = ''"
            tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="passwordControl.hasError('required')">Ange ett lösenord</mat-error>
          <!-- TODO: Add password restrictions such as length, characters? -->
        </mat-form-field>
      </div>

      <!-- Password confimation-->
      <div class="col-12 col-md-6">
        <mat-form-field>
          <!--Input-->
          <input matInput id="confirmPasswordInput" name="confirmPasswordInput" [(ngModel)]="confirmPasswordInput" maxlength="128"
          placeholder="Bekräfta lösenord" type="password" [formControl]="confirmPasswordControl" autocomplete="new-password"
          [passwordInput]="passwordInput" [confirmPasswordInput]="confirmPasswordInput" (input)="updateConfirmPassword()" appConfirmPassword required>
          <!--Check and clear-->
          <button mat-button class="size-medium" matSuffix mat-icon-button [disabled]="true">
            <mat-icon [style.color]="'green'" *ngIf="isValidConfirmPassword()">done</mat-icon>
          </button>
          <button mat-button class="size-medium" *ngIf="confirmPasswordInput" matSuffix mat-icon-button aria-label="Clear"
          (click)="confirmPasswordInput = ''" tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <!--Error-->
          <mat-error *ngIf="confirmPasswordControl.hasError('required')">Bekräfta lösenord</mat-error>
          <mat-error *ngIf="!confirmPasswordControl.hasError('required') && confirmPasswordControl.hasError('confirmPassword')">Angivna lösenord matchar inte</mat-error>
          <!-- TODO: Add password restrictions such as length, characters? -->
        </mat-form-field>
      </div>

    </div>

  </app-modal>
</form>
