<div class="row border border-dark">
  <div class="col-6 py-3">
    <app-variable-binding></app-variable-binding>
  </div>
  <div class="col-6 py-3">
    <p>app/pages/examples/code-examples/variable-binding</p>
    <p>Detta är ett exempel på hur man kopplar en variabel till ett input-fält</p>
  </div>
</div>


<div class="row border border-dark mt-3">
  <div class="col-6 py-3">
    <app-component-input></app-component-input>
  </div>
  <div class="col-6 py-3">
    <p>app/pages/examples/code-examples/component-input</p>
    <p>Detta är ett exempel på hur man kopplar en inputvariabel till en annan komponent</p>
  </div>
</div>

<div class="row border border-dark mt-3">
  <div class="col-6 py-3">
    <app-component-output></app-component-output>
  </div>
  <div class="col-6 py-3">
    <p>app/pages/examples/code-examples/component-output</p>
    <p>Detta är ett exempel på hur man kopplar en outputvariabel till en annan komponent</p>
  </div>
</div>
