// Hiding button around an object
.btn-menu {
    background-color: transparent !important;
    color: black !important;
    border-color: transparent !important;
    margin-top: -3px;
     :hover {
        cursor: pointer;
    }
}

// Setting the dropdown to occur on the left side instead
.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: -50px;
}

.dropdown-item:hover {
    background-color: rgba(208, 214, 212, 0.479) !important;
}
