<!--Dropdown-->
<div *ngIf="user?.userType.id == 1" class="dropdown" dropdown #dropdown="bs-dropdown">

  <!--Trigger-->
  <button class="btn-menu" (click)="dropdown.toggle(); $event.stopPropagation()">
    <i class="material-icons">more_vert</i>
  </button>
  <div *ngIf="dropdown.isOpen" dropdownToggle></div>

  <!--Menu-->
  <div class="dropdown-menu" (click)="$event.stopPropagation(); dropdown.toggle()">
    <a class="dropdown-item" (click)="route()" *ngIf="showHistoryOption">
      Historik
    </a>

    <a class="dropdown-item" (click)="setEdit()" *ngIf="showEditOption">
      Ändra
    </a>

    <a class="dropdown-item" (click)="setStatus(3)" *ngIf="showArchiveOption()">
      Arkivera
    </a>

    <a class="dropdown-item" (click)="setStatus(4)" *ngIf="showLostOption()">
      Borttappat
    </a>

    <a class="dropdown-item" (click)="setStatus(1)" *ngIf="showRestoreOption()">
      Återställ
    </a>

    <a class="dropdown-item" (click)="setStatus(6)" *ngIf="showInactivateOption()">
      Inaktivera
    </a>

    <a class="dropdown-item" (click)="setStatus(5)" *ngIf="showActivateOption()">
      Aktivera
    </a>

    <div class="divider dropdown-divider"></div>

    <a class="dropdown-item">Stäng</a>
  </div>
</div>
