div.row:hover {
    background-color: rgba(208, 214, 212, 0.479)
}

div.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

// Hiding button around an object
button.btn-wheel {
    background-color: transparent !important;
    color: black !important;
    border-color: transparent !important;
}

button.btn-wheel:hover {
    cursor: pointer;
}

// Setting the dropdown to occur on the left side instead
div.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: -50px;
}

a.dropdown-item:hover {
    background-color: rgba(208, 214, 212, 0.479) !important;
}