<!---<div class="row border border-dark">
    <div class="col border border-dark">
        {{cardItem?.cardType}}
    </div>
    <div class="col border border-dark">
        {{cardItem?.cardNumber}}
    </div>
    <div class="col border border-dark">
        {{cardItem?.userID}}
    </div>
    <div class="col border border-dark">
        {{cardItem?.user}}
    </div>
    <div class="col border border-dark">
        {{cardItem?.location}}
    </div>
    <div class="col border border-dark">
        {{cardItem?.comment}}
    </div>
    <div class="col border border-dark">
        {{cardItem?.displayedDate}}
    </div>
</div>
-->

<td>{{cardItem?.cardType}}</td>
<td>{{cardItem?.cardNumber}}</td>
<td>{{cardItem?.userID}}</td>
<td>{{cardItem?.user}}</td>
<td>{{cardItem?.location}}</td>
<td>{{cardItem?.comment}}</td>
<td>{{cardItem?.displayedDate}}</td>