.table-header {
  font-weight: bold;
}

// Adding sorting icons and hover pointer to objects
.hover {
  cursor: pointer;
  &.up-arrow::after {
    content: "\f0de";
    font-family: FontAwesome;
    font-size: 12px;
  }
  &.down-arrow::after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-size: 12px;
  }
  &.both-arrow::after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-size: 12px;
  }
}
