<div class="card">
  <div class="card-body">
      <!-- Input field for filter -->
      <div class="row">
        <div class="col-4">
            <mat-form-field>
              <!--Input-->
              <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" type="text"
              maxlength="128" placeholder="Filter by">
              <!--Clear-->
              <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear"
              (click)="filterInput = ''"><mat-icon>close</mat-icon></button>
            </mat-form-field>
        </div>
      </div>

      <!-- Header row -->
      <div class="row">
          <div class="col-1"></div>
          <div class="col" (click)="sortTableList('documentType')">
              <span class="hover" [class.up-arrow]="orderDocumentType == 'asc'" [class.down-arrow]="orderDocumentType == 'desc'" [class.both-arrow]="orderDocumentType == ''">Type
              </span>
          </div>
          <div class="col" (click)="sortTableList('documentNumber')">
              <span class="hover" [class.up-arrow]="orderDocumentNumber == 'asc'" [class.down-arrow]="orderDocumentNumber == 'desc'" [class.both-arrow]="orderDocumentNumber == ''">Number
              </span>
          </div>
          <div class="col" (click)="sortTableList('name')">
              <span class="hover" [class.up-arrow]="orderName == 'asc'" [class.down-arrow]="orderName == 'desc'" [class.both-arrow]="orderName == ''">Name
          </span></div>
          <div class="col" (click)="sortTableList('userID')">
              <span class="hover" [class.up-arrow]="orderUserID == 'asc'" [class.down-arrow]="orderUserID == 'desc'" [class.both-arrow]="orderUserID == ''">User ID
          </span></div>
          <div class="col" (click)="sortTableList('location')">
              <span class="hover" [class.up-arrow]="orderLocation == 'asc'" [class.down-arrow]="orderLocation == 'desc'" [class.both-arrow]="orderLocation == ''">Location
          </span></div>
          <div class="col" (click)="sortTableList('comment')">
              <span class="hover" [class.up-arrow]="orderComment == 'asc'" [class.down-arrow]="orderComment == 'desc'" [class.both-arrow]="orderComment == ''">Comment
          </span></div>
          <div class="col-1"></div>
      </div>
      <hr>

      <!-- Add cards to the table -->
      <div *ngFor="let document of documentList | matchFilterDocument:filterInput" >
          <app-document-item [documentItem]="document"></app-document-item>
      </div>
  </div>
</div>
