/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

input {
  border-bottom: none !important;
  box-shadow: none !important;
}

.mat-form-field {
  width: 100% !important;
}

.cdk-overlay-container {
  z-index: 2000;
}

.add-new-button {
  position: absolute !important;
  margin-top: 23px !important;
  right: 40px !important;
}

.wide-center {
  width: 100% !important;
  text-align: center !important;
}

.title-center {
  flex: 1 1 auto !important;
  text-align: center !important;
}

.size-medium, .mat-datepicker-toggle .mat-icon-button {
  font-size: 22px !important;
  height: 22px !important;
  width: 22px !important;
}

.form-check-label, .table-header, .mat-checkbox {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
  white-space: nowrap !important;
}

.table-header {
  font-weight: bold !important;
  white-space: nowrap !important;
}

.mat-checkbox-inner-container {
  transform: scale(0.75) !important;
}

.text-filter-input {
  margin-left: 15px;
  min-width: 496px;
  max-width: 496px;
}

.filter-checkbox, .narrow-filter-checkbox {
  display: inline-flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.filter-checkbox {
  min-width: 115px;
  max-width: 115px;
}

.small-filter-checkbox {
  min-width: 65px;
  max-width: 65px;
}

.medium-filter-checkbox {
  min-width: 75px;
  max-width: 75px;
}

.filter-checkbox-row {
  display: inline-flex;
  justify-content: flex-start;
  min-width: 500px;
  max-width: 500px;
}

.table-col {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding-left: 2px;
  padding-right: 15px;
}

.menu-button-col {
  position: absolute;
  right: 25px;
}

.item-row, .table-header {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 4px;
}

.item-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-row:hover {
  background-color: rgba(208, 214, 212, 0.479);
}

.hidden {
  display: none !important;
}

.status-button {
  position: relative;
  text-align: left;
  margin-right: 10px;
}
