/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

input {
  border-bottom: none !important;
  box-shadow: none !important;
}

.mat-form-field {
  width: 100% !important;
}

.cdk-overlay-container {
  z-index: 2000;
}

.add-new-button {
  position: absolute !important;
  margin-top: 23px !important;
  right: 40px !important;
}

.hidden {
  display: none !important;
}

.wide-center {
  width: 100% !important;
  text-align: center !important;
}

.title-center {
  flex: 1 1 auto !important;
  text-align: center !important;
}

.size-medium, .mat-datepicker-toggle .mat-icon-button {
  font-size: 27px !important;
  height: 27px !important;
  width: 27px !important;
}

.size-big {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}
