<div class="row table-item" (click)="showDetailsModal()">

  <div class="col-1">
    <div *ngIf="user?.status.id === 5">
      <button type="button" class="status-btn btn btn-rounded btn-sm btn-success m-0 px-2 py-1 status-button" disabled mdbRippleRadius>
        <span>Aktiv</span>
      </button>
    </div>
    <div *ngIf="user?.status.id === 6">
      <button type="button" class="status-btn btn btn-blue-grey btn-rounded btn-sm m-0 px-2 py-1" mdbRippleRadius disabled>
        <span>Inaktiv</span>
      </button>
    </div>
  </div>

  <div class="col">
    <i *ngIf="utilitiesService.isAdmin(user)" class="material-icons sm-icon">person_add</i>
    <i *ngIf="!utilitiesService.isAdmin(user)" class="material-icons sm-icon">person</i>
    {{user?.username}}
  </div>

  <div class="col">
    {{user?.name}}
  </div>

  <div class="col">
    {{user?.email}}
  </div>

  <div class="col">
    <div class="column-text">{{this.utilitiesService.getDateString(user?.creationDate, 'YYYY-MM-DD HH:mm:ss')}}</div>
  </div>

  <div class="col">
    <div class="column-text">{{this.utilitiesService.getDateString(user?.modifiedDate, 'YYYY-MM-DD HH:mm:ss')}}</div>
    <div class="table-menu-fix">
      <app-item-menu [object]="user" (editObject)="edit()" (editStatus)="editStatus()" [adminMenu]="true" [showEditOption]="true"
        [showHistoryOption]="false"></app-item-menu>
    </div>
  </div>
</div>
