<div class="card">
  <div class="custom-table">
    <!-- Row text filter input and add new button -->
    <div class="row">

      <!-- Input field for text filter -->
      <div class="col-4 px-0 text-filter-input">
        <mat-form-field>
          <!--Input-->
          <input matInput id="filterInput" name="filterInput" [(ngModel)]="filterInput" maxlength="128" placeholder="Filtrera på">
          <!--Clear-->
          <button mat-button class="size-medium" *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- PDF buttons and add new card button-->
      <div class="col text-right">
        <div class="mt-3">
          <button class="table-button" mat-raised-button color="primary" (click)="url ? openPDF() : genPDF()">
            <span *ngIf="!url">Generera PDF</span>
            <span *ngIf="url">Öppna PDF</span>
          </button>
          <button class="table-button" mat-raised-button color="primary" (click)="openAddNewCard()">Lägg till nytt kort</button>
        </div>
      </div>
    </div>

    <!-- Row filter per status -->
    <div class="pb-1 filter-checkbox-row">

      <div class="mr-2">
        <mat-checkbox id="showIn" name="showIn" color="primary" class="pr-1" [(ngModel)]="showIn">Tillgängliga</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox id="showOut" name="showOut" color="primary" class="pr-1" [(ngModel)]="showOut">Utkvitterade</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox id="showArchived" name="showArchived" color="primary" class="pr-1" [(ngModel)]="showArchived">Arkiverade</mat-checkbox>
      </div>

      <div class="mr-2">
        <mat-checkbox id="showGone" name="showGone" color="primary" class="pr-1" [(ngModel)]="showGone">Borttappade</mat-checkbox>
      </div>

    </div>

    <div class="table-container">
      <!-- Header row -->
      <div class="row table-header">
        <div class="col-1" (click)="sortTableList('status.id')">
          <span class="hover" [class.up-arrow]="orderStatus == 'asc'" [class.down-arrow]="orderStatus == 'desc'" [class.both-arrow]="orderStatus == ''">Status </span>
        </div>
        <div class="col" (click)="sortTableList('cardType.name')">
          <span class="hover" [class.up-arrow]="orderCardType == 'asc'" [class.down-arrow]="orderCardType == 'desc'" [class.both-arrow]="orderCardType == ''">Typ </span>
        </div>
        <div class="col" (click)="sortTableList('cardNumber')">
          <span class="hover" [class.up-arrow]="orderCardNumber == 'asc'" [class.down-arrow]="orderCardNumber == 'desc'" [class.both-arrow]="orderCardNumber == ''">Kort-ID </span>
        </div>
        <div class="col" (click)="sortTableList('user.name')">
          <span class="hover" [class.up-arrow]="orderUser == 'asc'" [class.down-arrow]="orderUser == 'desc'" [class.both-arrow]="orderUser == ''">Användare </span>
        </div>
        <div class="col" (click)="sortTableList('location')">
          <span class="hover" [class.up-arrow]="orderLocation == 'asc'" [class.down-arrow]="orderLocation == 'desc'" [class.both-arrow]="orderLocation == ''">Förvaringsplats </span>
        </div>
        <div class="col" (click)="sortTableList('comment')">
          <span class="hover" [class.up-arrow]="orderComment == 'asc'" [class.down-arrow]="orderComment == 'desc'" [class.both-arrow]="orderComment == ''">Kommentar </span>
        </div>
        <div class="col" (click)="sortTableList('expirationDate')">
          <span class="hover" [class.up-arrow]="orderDate == 'asc'" [class.down-arrow]="orderDate == 'desc'" [class.both-arrow]="orderDate == ''">Utgångsdatum </span>
        </div>
      </div>
      <hr>
      <div class="table-items scrollbar-table">
        <!-- Add cards to the table -->
        <div *ngFor="let card of cardList | matchFilterCard:filterInput:showIn:showOut:showArchived:showGone">
          <app-card-item [cardItem]="card"></app-card-item>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modify-card [cardList]="cardList" [modalTitle]="modalTitle" [modalType]="modalType" [(showModal)]="showModal"></app-modify-card>

<app-request-card></app-request-card>

<app-return-card></app-return-card>

<app-card-detail></app-card-detail>
