<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3 md-form">
                <input mdbActive type="text" id="filterBinding" class="form-control" [(ngModel)]="filterInput">
                <label for="filterBinding" class="">Filter by</label>
            </div>
        </div>
        <!-- Grid row -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col" (click)="sortCardType()">
                <span id="hover">Card type
                <img *ngIf="sortedCardType && sortAscendingCardType" src="../../../../../assets/up.png" alt="U" height="13" width="10">
                <img *ngIf="sortedCardType && !sortAscendingCardType" src="../../../../../assets/down.png" alt="D" height="13" width="10">
                </span>
            </div>
            <div class="col" (click)="sortCardNumber()">
                <span id="hover">Serial Number
                    <img *ngIf="sortedCardNumber && sortAscendingCardNumber" src="../../../../../assets/up.png" alt="U" height="13" width="10">
                    <img *ngIf="sortedCardNumber && !sortAscendingCardNumber" src="../../../../../assets/down.png" alt="D" height="13" width="10">
                </span>
            </div>
            <div class="col" (click)="sortCardNumber()">
                <span id="hover">User ID
                <img *ngIf="sortedUserID && sortAscendingUserID" src="../../../../../assets/up.png" alt="U" height="13" width="10">
                <img *ngIf="sortedUserID && !sortAscendingUserID" src="../../../../../assets/down.png" alt="D" height="13" width="10">
            </span></div>
            <div class="col" (click)="sortLocation()">
                <span id="hover">Location
                <img *ngIf="sortedLocation && sortAscendingLocation" src="../../../../../assets/up.png" alt="U" height="13" width="10">
                <img *ngIf="sortedLocation && !sortAscendingLocation" src="../../../../../assets/down.png" alt="D" height="13" width="10">
            </span></div>
            <div class="col" (click)="sortComment()">
                <span id="hover">Comment
                <img *ngIf="sortedComment && sortAscendingComment" src="../../../../../assets/up.png" alt="U" height="13" width="10">
                <img *ngIf="sortedComment && !sortAscendingComment" src="../../../../../assets/down.png" alt="D" height="13" width="10">
            </span></div>
            <div class="col" (click)="sortDate()">
                <span id="hover">Expiration date
                <img *ngIf="sortedDate && sortAscendingDate" src="../../../../../assets/up.png" alt="U" height="13" width="10">
                <img *ngIf="sortedDate && !sortAscendingDate" src="../../../../../assets/down.png" alt="D" height="13" width="10">
            </span></div>
        </div>
        <hr>
        <div *ngFor="let card of cardList">
            <app-card-item [cardItem]="card" [filterInput]="filterInput"></app-card-item>
        </div>
    </div>
</div>